body
{
  color: #40514E;
  margin: 0;

  text-align: center;
  font-family: 'Merriweather', serif;

}
h1
{
  color: #66BFBF;
  font-size:5.625em;
  margin: 50px auto 0 auto;
  line-height: 2;
  font-family: 'Sacramento', cursive;
}
h2
{
  color: #66BFBF;

  font-family: 'Merriweather', serif;
  font-size: 2.5em;
  font-weight: normal;
  padding-bottom: 10px;
}
h3
{
  color: #11999E;
  font-family: 'Merriweather', serif;
}
p
{
  line-height: 2;
}
hr
{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin : 100px auto;
}
a
{
  color:#11999E;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover
{
  color: #EAF6F6;
}
.top-contrainer
{
  background-color: #d4ebd0;
position: relative;
padding-top: 100px;

}
.middle-container
{

margin: 100px 0;

}
.bottom-container
{
background-color: #66BFBF;
padding: 50px 0px 20px;
}
.top-cloud
{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud
{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
text-align: left;
line-height: 2;
}
.dance-images
{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.cook-images
{
  width: 25%;
  float: right;
  margin-left:30px;
}
.intro
{
  width: 30%;
  margin: auto;
  line-height: 2;
}
.propic
{
  border-radius: 100%;
}
.cook-des
{
  width: 40%;
  margin: 40px auto 60px;
}
.copy-right
{
  color: #EAF6F6;
  padding: 20px 0px;
  font-size: 0.75rem;
}
.myButton {
	box-shadow: 3px 3px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:32px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Merriweather', serif;
	font-size:17px;
	font-weight:bold;
	padding:14px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}
